In [11]:
import csv
import pandas as pd
import numpy as np
import datetime
import matplotlib
import sklearn
#from sklearn.cross_validation import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier
#from sklearn.grid_search import GridSearchCV
#from sklearn.cross_validation 
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedShuffleSplit
import math

In [12]:
train = pd.read_csv("C:/Users/ayush.chaturvedi/Downloads/train_r7VTVyN_Ko9cGPz.csv")
test = pd.read_csv("C:/Users/ayush.chaturvedi/Downloads/test_ZkjAHF8_2shxaJa_vZtSmPc.csv")

In [13]:
train.describe(include='all').transpose()
train.describe(include=[np.number]).transpose()
train.describe(include=['O']).transpose()
for cols in train._get_numeric_data():
     
    ax =train[cols].plot(kind='box')
    fig = ax.get_figure()
    fig.savefig(cols+'.png')
    fig.clf()
     
train.corr()
 
corrDf = train.corr()
for row in corrDf.iterrows():
    for col in corrDf.columns:
        if row[0]!=col:
            if row[1][col] >0.5:
                print (row[0],",",col,",",row[1][col])

Office_PIN , Applicant_City_PIN , 0.9777559398203898
Applicant_City_PIN , Office_PIN , 0.9777559398203898
Manager_Num_Application , Manager_Num_Coded , 0.5142987355049576
Manager_Num_Coded , Manager_Num_Application , 0.5142987355049576
Manager_Business , Manager_Num_Products , 0.7338799512760227
Manager_Business , Manager_Business2 , 0.9944215745754873
Manager_Business , Manager_Num_Products2 , 0.7291472858979395
Manager_Num_Products , Manager_Business , 0.7338799512760227
Manager_Num_Products , Manager_Business2 , 0.7362721878829196
Manager_Num_Products , Manager_Num_Products2 , 0.9988929436111462
Manager_Business2 , Manager_Business , 0.9944215745754873
Manager_Business2 , Manager_Num_Products , 0.7362721878829196
Manager_Business2 , Manager_Num_Products2 , 0.7355938888603806
Manager_Num_Products2 , Manager_Business , 0.7291472858979395
Manager_Num_Products2 , Manager_Num_Products , 0.9988929436111462
Manager_Num_Products2 , Manager_Business2 , 0.7355938888603806

In [14]:
#test = pd.read_csv('D:/Test_wyCirpO.csv')
#train = pd.read_csv('D:/Train_pjb2QcD.csv')
train['isTrainDataSet'] = 1
test['isTrainDataSet'] = 0
dataset = train.append(test)
train.shape,test.shape,dataset.shape

((9527, 24), (5045, 23), (14572, 24))

In [15]:
dateColumns = ['Manager_DoB','Manager_DOJ','Applicant_BirthDate','Application_Receipt_Date']
for colName in dateColumns:
    dataset[colName]= pd.to_datetime(dataset[colName])
dataset['applicantAge'] = ((dataset['Application_Receipt_Date']-dataset['Applicant_BirthDate'])/ np.timedelta64(1, 'D'))/365
dataset['managerExperience'] = ((dataset['Application_Receipt_Date']-dataset['Manager_DOJ'])/ np.timedelta64(1, 'D'))/365
dataset['managerAge'] =((dataset['Application_Receipt_Date']-dataset['Manager_DoB'])/ np.timedelta64(1, 'D'))/365
for colname in  dataset.columns:
    print (colname,dataset[colname].unique()," no:",len(dataset[colname].unique()))
dataset['Manager_Joining_Designation']=dataset['Manager_Joining_Designation'].map(lambda x:float(str(x)[-1]) if (str(x)[-1]!='n')& (str(x)[-1]!='r') else float('nan'))
dataset['Manager_Current_Designation']=dataset['Manager_Current_Designation'].map(lambda x:float(str(x)[-1]) if (str(x)[-1]!='n')& (str(x)[-1]!='r') else float('nan'))
dataset['Manager_Promotion']=dataset['Manager_Current_Designation']-dataset['Manager_Joining_Designation']
dataset['PinDifference'] =abs(dataset['Office_PIN']-dataset['Applicant_City_PIN'])

ID ['FIN1000001' 'FIN1000002' 'FIN1000003' ... 'FIN1014570' 'FIN1014571'
 'FIN1014572']  no: 14572
Office_PIN [842001 800001 814112 209625 211001 520010 533101 274001 202001 284001
 834001 474008 121002 492001 452003 802301 282001 751009 781005 444601
 851101 560001 803101 201010 841428 124001 826001 500016 390020 824101
 171006 575003 700016 600017 271201 226001 400075 277001 122002 125001
 530003 230001 208001 221010 273001 233001 843302 224122 848101 812001
 285001 380015 423203 753012 713216 713303 476001 680001 400705 160017
 620018 841226 201001 416001 636004 444001 323001 110005 414003 143001
 334002 250001 180012 422005 400601 802101 395001 281001 440010 305001
 695014 462003 400092 110034 313001 625016 224001 360001 517503 411006
 141001 431001 691008 144001 686004 641018 302001 201301 110019]  no: 99
Application_Receipt_Date ['2007-04-16T00:00:00.000000000' '2007-04-17T00:00:00.000000000'
 '2007-04-18T00:00:00.000000000' '2007-04-19T00:00:00.000000000'
 '2007-04-20T00:00:00.000000000' '2007-04-21T00:00:00.000000000'
 '2007-04-23T00:00:00.000000000' '2007-04-24T00:00:00.000000000'
 '2007-04-25T00:00:00.000000000' '2007-04-26T00:00:00.000000000'
 '2007-04-27T00:00:00.000000000' '2007-04-28T00:00:00.000000000'
 '2007-04-30T00:00:00.000000000' '2007-05-01T00:00:00.000000000'
 '2007-05-02T00:00:00.000000000' '2007-05-04T00:00:00.000000000'
 '2007-05-05T00:00:00.000000000' '2007-05-07T00:00:00.000000000'
 '2007-05-08T00:00:00.000000000' '2007-05-09T00:00:00.000000000'
 '2007-05-10T00:00:00.000000000' '2007-05-11T00:00:00.000000000'
 '2007-05-12T00:00:00.000000000' '2007-05-14T00:00:00.000000000'
 '2007-05-15T00:00:00.000000000' '2007-05-16T00:00:00.000000000'
 '2007-05-17T00:00:00.000000000' '2007-05-18T00:00:00.000000000'
 '2007-05-19T00:00:00.000000000' '2007-05-21T00:00:00.000000000'
 '2007-05-22T00:00:00.000000000' '2007-05-23T00:00:00.000000000'
 '2007-05-24T00:00:00.000000000' '2007-05-25T00:00:00.000000000'
 '2007-05-26T00:00:00.000000000' '2007-05-28T00:00:00.000000000'
 '2007-05-29T00:00:00.000000000' '2007-05-30T00:00:00.000000000'
 '2007-05-31T00:00:00.000000000' '2007-06-01T00:00:00.000000000'
 '2007-06-02T00:00:00.000000000' '2007-06-04T00:00:00.000000000'
 '2007-06-05T00:00:00.000000000' '2007-06-06T00:00:00.000000000'
 '2007-06-07T00:00:00.000000000' '2007-06-08T00:00:00.000000000'
 '2007-06-09T00:00:00.000000000' '2007-06-11T00:00:00.000000000'
 '2007-06-12T00:00:00.000000000' '2007-06-13T00:00:00.000000000'
 '2007-06-14T00:00:00.000000000' '2007-06-15T00:00:00.000000000'
 '2007-06-16T00:00:00.000000000' '2007-06-18T00:00:00.000000000'
 '2007-06-19T00:00:00.000000000' '2007-06-20T00:00:00.000000000'
 '2007-06-21T00:00:00.000000000' '2007-06-22T00:00:00.000000000'
 '2007-06-23T00:00:00.000000000' '2007-06-25T00:00:00.000000000'
 '2007-06-26T00:00:00.000000000' '2007-06-27T00:00:00.000000000'
 '2007-06-28T00:00:00.000000000' '2007-06-29T00:00:00.000000000'
 '2007-06-30T00:00:00.000000000' '2007-07-02T00:00:00.000000000'
 '2007-07-03T00:00:00.000000000' '2007-07-04T00:00:00.000000000'
 '2007-07-05T00:00:00.000000000' '2007-07-06T00:00:00.000000000'
 '2007-07-07T00:00:00.000000000' '2007-07-09T00:00:00.000000000'
 '2007-07-10T00:00:00.000000000' '2007-07-11T00:00:00.000000000'
 '2007-07-12T00:00:00.000000000' '2007-07-13T00:00:00.000000000'
 '2007-07-14T00:00:00.000000000' '2007-07-16T00:00:00.000000000'
 '2007-07-17T00:00:00.000000000' '2007-07-18T00:00:00.000000000'
 '2007-07-19T00:00:00.000000000' '2007-07-20T00:00:00.000000000'
 '2007-07-21T00:00:00.000000000' '2007-07-23T00:00:00.000000000'
 '2007-07-24T00:00:00.000000000' '2007-07-25T00:00:00.000000000'
 '2007-07-26T00:00:00.000000000' '2007-07-27T00:00:00.000000000'
 '2007-07-28T00:00:00.000000000' '2007-07-30T00:00:00.000000000'
 '2007-07-31T00:00:00.000000000' '2007-08-01T00:00:00.000000000'
 '2007-08-02T00:00:00.000000000' '2007-08-03T00:00:00.000000000'
 '2007-08-04T00:00:00.000000000' '2007-08-06T00:00:00.000000000'
 '2007-08-07T00:00:00.000000000' '2007-08-08T00:00:00.000000000'
 '2007-08-09T00:00:00.000000000' '2007-08-10T00:00:00.000000000'
 '2007-08-11T00:00:00.000000000' '2007-08-13T00:00:00.000000000'
 '2007-08-14T00:00:00.000000000' '2007-08-15T00:00:00.000000000'
 '2007-08-16T00:00:00.000000000' '2007-08-18T00:00:00.000000000'
 '2007-08-20T00:00:00.000000000' '2007-08-21T00:00:00.000000000'
 '2007-08-22T00:00:00.000000000' '2007-08-23T00:00:00.000000000'
 '2007-08-24T00:00:00.000000000' '2007-08-25T00:00:00.000000000'
 '2007-08-27T00:00:00.000000000' '2007-08-28T00:00:00.000000000'
 '2007-08-29T00:00:00.000000000' '2007-08-30T00:00:00.000000000'
 '2007-08-31T00:00:00.000000000' '2007-09-01T00:00:00.000000000'
 '2007-09-02T00:00:00.000000000' '2007-09-03T00:00:00.000000000'
 '2007-09-04T00:00:00.000000000' '2007-09-05T00:00:00.000000000'
 '2007-09-06T00:00:00.000000000' '2007-09-07T00:00:00.000000000'
 '2007-09-08T00:00:00.000000000' '2007-09-10T00:00:00.000000000'
 '2007-09-11T00:00:00.000000000' '2007-09-12T00:00:00.000000000'
 '2007-09-13T00:00:00.000000000' '2007-09-14T00:00:00.000000000'
 '2007-09-15T00:00:00.000000000' '2007-09-17T00:00:00.000000000'
 '2007-09-18T00:00:00.000000000' '2007-09-19T00:00:00.000000000'
 '2007-09-20T00:00:00.000000000' '2007-09-21T00:00:00.000000000'
 '2007-09-22T00:00:00.000000000' '2007-09-24T00:00:00.000000000'
 '2007-09-25T00:00:00.000000000' '2007-09-26T00:00:00.000000000'
 '2007-09-27T00:00:00.000000000' '2007-09-28T00:00:00.000000000'
 '2007-09-29T00:00:00.000000000' '2007-09-30T00:00:00.000000000'
 '2007-10-01T00:00:00.000000000' '2007-10-02T00:00:00.000000000'
 '2007-10-03T00:00:00.000000000' '2007-10-06T00:00:00.000000000'
 '2007-10-08T00:00:00.000000000' '2007-10-09T00:00:00.000000000'
 '2007-10-10T00:00:00.000000000' '2007-10-11T00:00:00.000000000'
 '2007-10-12T00:00:00.000000000' '2007-10-13T00:00:00.000000000'
 '2007-10-15T00:00:00.000000000' '2007-10-16T00:00:00.000000000'
 '2007-10-17T00:00:00.000000000' '2007-10-18T00:00:00.000000000'
 '2007-10-19T00:00:00.000000000' '2007-10-20T00:00:00.000000000'
 '2007-10-22T00:00:00.000000000' '2007-10-23T00:00:00.000000000'
 '2007-10-24T00:00:00.000000000' '2007-10-25T00:00:00.000000000'
 '2007-10-26T00:00:00.000000000' '2007-10-27T00:00:00.000000000'
 '2007-10-29T00:00:00.000000000' '2007-10-30T00:00:00.000000000'
 '2007-10-31T00:00:00.000000000' '2007-11-01T00:00:00.000000000'
 '2007-11-02T00:00:00.000000000' '2007-11-03T00:00:00.000000000'
 '2007-11-05T00:00:00.000000000' '2007-11-06T00:00:00.000000000'
 '2007-11-07T00:00:00.000000000' '2007-11-08T00:00:00.000000000'
 '2007-11-09T00:00:00.000000000' '2007-11-10T00:00:00.000000000'
 '2007-11-12T00:00:00.000000000' '2007-11-13T00:00:00.000000000'
 '2007-11-14T00:00:00.000000000' '2007-11-15T00:00:00.000000000'
 '2007-11-16T00:00:00.000000000' '2007-11-17T00:00:00.000000000'
 '2007-11-19T00:00:00.000000000' '2007-11-20T00:00:00.000000000'
 '2007-11-21T00:00:00.000000000' '2007-11-22T00:00:00.000000000'
 '2007-11-23T00:00:00.000000000' '2007-11-24T00:00:00.000000000'
 '2007-11-26T00:00:00.000000000' '2007-11-27T00:00:00.000000000'
 '2007-11-28T00:00:00.000000000' '2007-11-29T00:00:00.000000000'
 '2007-11-30T00:00:00.000000000' '2007-12-01T00:00:00.000000000'
 '2007-12-02T00:00:00.000000000' '2007-12-03T00:00:00.000000000'
 '2007-12-04T00:00:00.000000000' '2007-12-05T00:00:00.000000000'
 '2007-12-06T00:00:00.000000000' '2007-12-07T00:00:00.000000000'
 '2007-12-08T00:00:00.000000000' '2007-12-10T00:00:00.000000000'
 '2007-12-11T00:00:00.000000000' '2007-12-12T00:00:00.000000000'
 '2007-12-13T00:00:00.000000000' '2007-12-14T00:00:00.000000000'
 '2007-12-15T00:00:00.000000000' '2007-12-17T00:00:00.000000000'
 '2007-12-18T00:00:00.000000000' '2007-12-19T00:00:00.000000000'
 '2007-12-20T00:00:00.000000000' '2007-12-21T00:00:00.000000000'
 '2007-12-22T00:00:00.000000000' '2007-12-24T00:00:00.000000000'
 '2007-12-25T00:00:00.000000000' '2007-12-26T00:00:00.000000000'
 '2007-12-28T00:00:00.000000000' '2007-12-29T00:00:00.000000000'
 '2007-12-31T00:00:00.000000000' '2008-01-01T00:00:00.000000000'
 '2008-01-02T00:00:00.000000000' '2008-01-04T00:00:00.000000000'
 '2008-01-05T00:00:00.000000000' '2008-01-07T00:00:00.000000000'
 '2008-01-08T00:00:00.000000000' '2008-01-09T00:00:00.000000000'
 '2008-01-10T00:00:00.000000000' '2008-01-11T00:00:00.000000000'
 '2008-01-12T00:00:00.000000000' '2008-01-14T00:00:00.000000000'
 '2008-01-15T00:00:00.000000000' '2008-01-16T00:00:00.000000000'
 '2008-01-17T00:00:00.000000000' '2008-01-18T00:00:00.000000000'
 '2008-01-19T00:00:00.000000000' '2008-01-21T00:00:00.000000000'
 '2008-01-22T00:00:00.000000000' '2008-01-23T00:00:00.000000000'
 '2008-01-24T00:00:00.000000000' '2008-01-25T00:00:00.000000000'
 '2008-01-26T00:00:00.000000000' '2008-01-29T00:00:00.000000000'
 '2008-01-30T00:00:00.000000000' '2008-01-31T00:00:00.000000000'
 '2008-02-01T00:00:00.000000000' '2008-02-02T00:00:00.000000000'
 '2008-02-04T00:00:00.000000000' '2008-02-05T00:00:00.000000000'
 '2008-02-06T00:00:00.000000000' '2008-02-07T00:00:00.000000000'
 '2008-02-08T00:00:00.000000000' '2008-02-09T00:00:00.000000000'
 '2008-02-11T00:00:00.000000000' '2008-02-12T00:00:00.000000000'
 '2008-02-13T00:00:00.000000000' '2008-02-14T00:00:00.000000000'
 '2008-02-15T00:00:00.000000000' '2008-02-16T00:00:00.000000000'
 '2008-02-18T00:00:00.000000000' '2008-02-19T00:00:00.000000000'
 '2008-02-20T00:00:00.000000000' '2008-02-21T00:00:00.000000000'
 '2008-02-22T00:00:00.000000000' '2008-02-23T00:00:00.000000000'
 '2008-02-25T00:00:00.000000000' '2008-02-26T00:00:00.000000000'
 '2008-02-27T00:00:00.000000000' '2008-02-28T00:00:00.000000000'
 '2008-02-29T00:00:00.000000000' '2008-03-01T00:00:00.000000000'
 '2008-03-03T00:00:00.000000000' '2008-03-04T00:00:00.000000000'
 '2008-03-05T00:00:00.000000000' '2008-03-06T00:00:00.000000000'
 '2008-03-07T00:00:00.000000000' '2008-03-08T00:00:00.000000000'
 '2008-03-10T00:00:00.000000000' '2008-03-11T00:00:00.000000000'
 '2008-03-12T00:00:00.000000000' '2008-03-13T00:00:00.000000000'
 '2008-03-14T00:00:00.000000000' '2008-03-15T00:00:00.000000000'
 '2008-03-17T00:00:00.000000000' '2008-03-18T00:00:00.000000000'
 '2008-03-19T00:00:00.000000000' '2008-03-20T00:00:00.000000000'
 '2008-03-21T00:00:00.000000000' '2008-03-22T00:00:00.000000000'
 '2008-03-24T00:00:00.000000000' '2008-03-25T00:00:00.000000000'
 '2008-03-26T00:00:00.000000000' '2008-03-28T00:00:00.000000000'
 '2008-03-31T00:00:00.000000000' '2008-04-14T00:00:00.000000000'
 '2008-04-15T00:00:00.000000000' '2008-04-16T00:00:00.000000000'
 '2008-04-17T00:00:00.000000000' '2008-04-18T00:00:00.000000000'
 '2008-04-21T00:00:00.000000000' '2008-04-22T00:00:00.000000000'
 '2008-04-23T00:00:00.000000000' '2008-04-24T00:00:00.000000000'
 '2008-04-25T00:00:00.000000000' '2008-04-26T00:00:00.000000000'
 '2008-04-28T00:00:00.000000000' '2008-04-29T00:00:00.000000000'
 '2008-04-30T00:00:00.000000000' '2008-05-01T00:00:00.000000000'
 '2008-05-05T00:00:00.000000000' '2008-05-06T00:00:00.000000000'
 '2008-05-07T00:00:00.000000000' '2008-05-08T00:00:00.000000000'
 '2008-05-09T00:00:00.000000000' '2008-05-12T00:00:00.000000000'
 '2008-05-13T00:00:00.000000000' '2008-05-14T00:00:00.000000000'
 '2008-05-15T00:00:00.000000000' '2008-05-16T00:00:00.000000000'
 '2008-05-19T00:00:00.000000000' '2008-05-20T00:00:00.000000000'
 '2008-05-21T00:00:00.000000000' '2008-05-22T00:00:00.000000000'
 '2008-05-23T00:00:00.000000000' '2008-05-26T00:00:00.000000000'
 '2008-05-27T00:00:00.000000000' '2008-05-28T00:00:00.000000000'
 '2008-05-29T00:00:00.000000000' '2008-05-30T00:00:00.000000000'
 '2008-05-31T00:00:00.000000000' '2008-06-01T00:00:00.000000000'
 '2008-06-02T00:00:00.000000000' '2008-06-03T00:00:00.000000000'
 '2008-06-04T00:00:00.000000000' '2008-06-05T00:00:00.000000000'
 '2008-06-06T00:00:00.000000000' '2008-06-09T00:00:00.000000000'
 '2008-06-10T00:00:00.000000000' '2008-06-11T00:00:00.000000000'
 '2008-06-12T00:00:00.000000000' '2008-06-13T00:00:00.000000000'
 '2008-06-14T00:00:00.000000000' '2008-06-16T00:00:00.000000000'
 '2008-06-17T00:00:00.000000000' '2008-06-18T00:00:00.000000000'
 '2008-06-19T00:00:00.000000000' '2008-06-20T00:00:00.000000000'
 '2008-06-21T00:00:00.000000000' '2008-06-23T00:00:00.000000000'
 '2008-06-24T00:00:00.000000000' '2008-06-25T00:00:00.000000000'
 '2008-06-26T00:00:00.000000000' '2008-06-27T00:00:00.000000000'
 '2008-06-28T00:00:00.000000000' '2008-06-30T00:00:00.000000000'
 '2008-07-01T00:00:00.000000000' '2008-07-02T00:00:00.000000000'
 '2008-07-03T00:00:00.000000000' '2008-07-04T00:00:00.000000000'
 '2008-07-07T00:00:00.000000000' '2008-07-08T00:00:00.000000000'
 '2008-07-09T00:00:00.000000000' '2008-07-10T00:00:00.000000000'
 '2008-07-11T00:00:00.000000000' '2008-07-14T00:00:00.000000000'
 '2008-07-15T00:00:00.000000000' '2008-07-16T00:00:00.000000000'
 '2008-07-17T00:00:00.000000000' '2008-07-18T00:00:00.000000000'
 '2008-07-21T00:00:00.000000000' '2008-07-22T00:00:00.000000000'
 '2008-07-23T00:00:00.000000000' '2008-07-24T00:00:00.000000000'
 '2008-07-25T00:00:00.000000000' '2008-07-26T00:00:00.000000000'
 '2008-07-28T00:00:00.000000000' '2008-07-29T00:00:00.000000000'
 '2008-07-30T00:00:00.000000000' '2008-07-31T00:00:00.000000000'
 '2008-08-01T00:00:00.000000000' '2008-08-04T00:00:00.000000000'
 '2008-08-05T00:00:00.000000000' '2008-08-06T00:00:00.000000000'
 '2008-08-07T00:00:00.000000000' '2008-08-08T00:00:00.000000000'
 '2008-08-11T00:00:00.000000000' '2008-08-12T00:00:00.000000000'
 '2008-08-13T00:00:00.000000000' '2008-08-14T00:00:00.000000000'
 '2008-08-15T00:00:00.000000000' '2008-08-18T00:00:00.000000000'
 '2008-08-19T00:00:00.000000000' '2008-08-20T00:00:00.000000000'
 '2008-08-21T00:00:00.000000000' '2008-08-22T00:00:00.000000000'
 '2008-08-23T00:00:00.000000000' '2008-08-25T00:00:00.000000000'
 '2008-08-26T00:00:00.000000000' '2008-08-27T00:00:00.000000000'
 '2008-08-28T00:00:00.000000000' '2008-08-29T00:00:00.000000000'
 '2008-08-30T00:00:00.000000000' '2008-08-31T00:00:00.000000000'
 '2008-09-01T00:00:00.000000000' '2008-09-02T00:00:00.000000000'
 '2008-09-03T00:00:00.000000000' '2008-09-04T00:00:00.000000000'
 '2008-09-05T00:00:00.000000000' '2008-09-08T00:00:00.000000000'
 '2008-09-09T00:00:00.000000000' '2008-09-10T00:00:00.000000000'
 '2008-09-11T00:00:00.000000000' '2008-09-12T00:00:00.000000000'
 '2008-09-13T00:00:00.000000000' '2008-09-15T00:00:00.000000000'
 '2008-09-16T00:00:00.000000000' '2008-09-17T00:00:00.000000000'
 '2008-09-18T00:00:00.000000000' '2008-09-19T00:00:00.000000000'
 '2008-09-20T00:00:00.000000000' '2008-09-22T00:00:00.000000000'
 '2008-09-23T00:00:00.000000000' '2008-09-24T00:00:00.000000000'
 '2008-09-25T00:00:00.000000000' '2008-09-26T00:00:00.000000000'
 '2008-09-27T00:00:00.000000000' '2008-09-29T00:00:00.000000000'
 '2008-09-30T00:00:00.000000000' '2008-10-01T00:00:00.000000000'
 '2008-10-06T00:00:00.000000000' '2008-10-07T00:00:00.000000000'
 '2008-10-08T00:00:00.000000000' '2008-10-09T00:00:00.000000000'
 '2008-10-10T00:00:00.000000000' '2008-10-13T00:00:00.000000000'
 '2008-10-14T00:00:00.000000000' '2008-10-15T00:00:00.000000000'
 '2008-10-16T00:00:00.000000000' '2008-10-17T00:00:00.000000000'
 '2008-10-18T00:00:00.000000000' '2008-10-20T00:00:00.000000000'
 '2008-10-21T00:00:00.000000000' '2008-10-22T00:00:00.000000000'
 '2008-10-24T00:00:00.000000000' '2008-10-27T00:00:00.000000000'
 '2008-10-28T00:00:00.000000000' '2008-10-29T00:00:00.000000000'
 '2008-10-30T00:00:00.000000000' '2008-10-31T00:00:00.000000000'
 '2008-11-01T00:00:00.000000000' '2008-11-03T00:00:00.000000000'
 '2008-11-04T00:00:00.000000000' '2008-11-05T00:00:00.000000000'
 '2008-11-06T00:00:00.000000000' '2008-11-07T00:00:00.000000000'
 '2008-11-08T00:00:00.000000000' '2008-11-10T00:00:00.000000000'
 '2008-11-11T00:00:00.000000000' '2008-11-13T00:00:00.000000000'
 '2008-11-14T00:00:00.000000000' '2008-11-17T00:00:00.000000000'
 '2008-11-18T00:00:00.000000000' '2008-11-19T00:00:00.000000000'
 '2008-11-20T00:00:00.000000000' '2008-11-21T00:00:00.000000000'
 '2008-11-24T00:00:00.000000000' '2008-11-25T00:00:00.000000000'
 '2008-11-26T00:00:00.000000000' '2008-11-27T00:00:00.000000000'
 '2008-11-28T00:00:00.000000000' '2008-11-29T00:00:00.000000000'
 '2008-11-30T00:00:00.000000000' '2008-12-01T00:00:00.000000000'
 '2008-12-02T00:00:00.000000000' '2008-12-03T00:00:00.000000000'
 '2008-12-04T00:00:00.000000000' '2008-12-05T00:00:00.000000000'
 '2008-12-06T00:00:00.000000000' '2008-12-08T00:00:00.000000000'
 '2008-12-09T00:00:00.000000000' '2008-12-10T00:00:00.000000000'
 '2008-12-11T00:00:00.000000000' '2008-12-12T00:00:00.000000000'
 '2008-12-13T00:00:00.000000000' '2008-12-15T00:00:00.000000000'
 '2008-12-16T00:00:00.000000000' '2008-12-17T00:00:00.000000000'
 '2008-12-18T00:00:00.000000000' '2008-12-19T00:00:00.000000000'
 '2008-12-20T00:00:00.000000000' '2008-12-22T00:00:00.000000000'
 '2008-12-23T00:00:00.000000000' '2008-12-24T00:00:00.000000000'
 '2008-12-25T00:00:00.000000000' '2008-12-27T00:00:00.000000000'
 '2008-12-29T00:00:00.000000000' '2008-12-30T00:00:00.000000000'
 '2008-12-31T00:00:00.000000000' '2009-01-01T00:00:00.000000000']  no: 500
Applicant_City_PIN [844120. 844111. 844101. ... 126116. 362002. 394107.]  no: 3757
Applicant_Gender ['M' 'F' nan]  no: 3
Applicant_BirthDate ['1971-12-19T00:00:00.000000000' '1983-02-17T00:00:00.000000000'
 '1966-01-16T00:00:00.000000000' ... '1976-06-13T00:00:00.000000000'
 '1966-05-21T00:00:00.000000000' '1949-12-02T00:00:00.000000000']  no: 7575
Applicant_Marital_Status ['M' 'S' nan 'W' 'D']  no: 5
Applicant_Occupation ['Others' 'Business' 'Salaried' 'Self Employed' 'Student' nan]  no: 6
Applicant_Qualification ['Graduate' 'Class XII' 'Class X' 'Masters of Business Administration' nan
 'Associate/Fellow of Institute of Company Secretories of India'
 'Associate / Fellow of Institute of Chartered Accountans of India'
 'Others' 'Associate/Fellow of Insurance Institute of India'
 'Associate/Fellow of Acturial Society of India'
 'Certified Associateship of Indian Institute of Bankers'
 'Professional Qualification in Marketing'
 'Associate/Fellow of Institute of Institute of Costs and Works Accountants of India']  no: 13
Manager_DOJ ['2005-11-10T00:00:00.000000000' '2006-05-27T00:00:00.000000000'
 '2003-08-21T00:00:00.000000000' '2006-05-08T00:00:00.000000000'
 '2006-01-17T00:00:00.000000000' '2003-09-01T00:00:00.000000000'
 '2006-12-16T00:00:00.000000000' '2004-11-18T00:00:00.000000000'
 '2002-08-15T00:00:00.000000000' '2004-09-16T00:00:00.000000000'
 '2006-06-19T00:00:00.000000000' '2004-04-30T00:00:00.000000000'
 '2004-01-08T00:00:00.000000000' '2006-06-20T00:00:00.000000000'
 '2005-03-01T00:00:00.000000000' '2002-11-18T00:00:00.000000000'
 '2006-10-13T00:00:00.000000000' '2006-07-21T00:00:00.000000000'
 '2006-11-03T00:00:00.000000000' '2007-02-21T00:00:00.000000000'
 '2004-01-30T00:00:00.000000000' '2003-10-30T00:00:00.000000000'
 '2006-06-27T00:00:00.000000000'                           'NaT'
 '2006-10-05T00:00:00.000000000' '2003-05-29T00:00:00.000000000'
 '2006-03-06T00:00:00.000000000' '2006-05-26T00:00:00.000000000'
 '2006-05-25T00:00:00.000000000' '2006-06-08T00:00:00.000000000'
 '2006-05-12T00:00:00.000000000' '2002-07-22T00:00:00.000000000'
 '2005-10-15T00:00:00.000000000' '2007-04-12T00:00:00.000000000'
 '2005-02-16T00:00:00.000000000' '2005-01-17T00:00:00.000000000'
 '2006-07-31T00:00:00.000000000' '2004-12-20T00:00:00.000000000'
 '2005-12-29T00:00:00.000000000' '2006-05-31T00:00:00.000000000'
 '2006-02-16T00:00:00.000000000' '2006-10-23T00:00:00.000000000'
 '2005-10-25T00:00:00.000000000' '2006-06-13T00:00:00.000000000'
 '2006-08-21T00:00:00.000000000' '2001-11-03T00:00:00.000000000'
 '2003-08-07T00:00:00.000000000' '2004-04-29T00:00:00.000000000'
 '2007-01-13T00:00:00.000000000' '2002-09-02T00:00:00.000000000'
 '2005-06-16T00:00:00.000000000' '2002-11-04T00:00:00.000000000'
 '2006-08-02T00:00:00.000000000' '2007-01-10T00:00:00.000000000'
 '2006-05-22T00:00:00.000000000' '2006-09-22T00:00:00.000000000'

In [16]:
trset=dataset[dataset['isTrainDataSet'] == 1]
gp= trset[['ID','Application_Receipt_Date','Business_Sourced']].groupby(trset.Application_Receipt_Date)
#counting the number of applicants for each date on traindata
ct=gp['ID'].count()
#counting the number of Business_Sourced entries for each date on traindata
srcCnt=gp['Business_Sourced'].sum()
ratio=srcCnt/ct
avg=sum(ratio)/len(ratio)
###avg=0.34701933974315452
###Using a ratio of 0.45 considering a buffer of entries with 0 Business_Sourced which comes in the first half everyday
lst=[]
for date in trset['Application_Receipt_Date'].unique():
    c=ct[date]
    v=int(math.ceil(c*0.45))
    for i in range(v):
        lst.append(1)
    for i in range(c-v):
        lst.append(0)
    print (date)    
trset['wow']=lst
 
trset['Day']=trset['Application_Receipt_Date'].map(lambda x : x.weekday())
 
compare=trset[['ID','Application_Receipt_Date','Business_Sourced','wow','Day']]

from sklearn import metrics
y=compare['Business_Sourced']
pred=compare['wow']
fpr, tpr, thresholds = metrics.roc_curve(y, pred, pos_label=1)
metrics.auc(fpr, tpr)

2007-04-16T00:00:00.000000000
2007-04-17T00:00:00.000000000
2007-04-18T00:00:00.000000000
2007-04-19T00:00:00.000000000
2007-04-20T00:00:00.000000000
2007-04-21T00:00:00.000000000
2007-04-23T00:00:00.000000000
2007-04-24T00:00:00.000000000
2007-04-25T00:00:00.000000000
2007-04-26T00:00:00.000000000
2007-04-27T00:00:00.000000000
2007-04-28T00:00:00.000000000
2007-04-30T00:00:00.000000000
2007-05-01T00:00:00.000000000
2007-05-02T00:00:00.000000000
2007-05-04T00:00:00.000000000
2007-05-05T00:00:00.000000000
2007-05-07T00:00:00.000000000
2007-05-08T00:00:00.000000000
2007-05-09T00:00:00.000000000
2007-05-10T00:00:00.000000000
2007-05-11T00:00:00.000000000
2007-05-12T00:00:00.000000000
2007-05-14T00:00:00.000000000
2007-05-15T00:00:00.000000000
2007-05-16T00:00:00.000000000
2007-05-17T00:00:00.000000000
2007-05-18T00:00:00.000000000
2007-05-19T00:00:00.000000000
2007-05-21T00:00:00.000000000
2007-05-22T00:00:00.000000000
2007-05-23T00:00:00.000000000
2007-05-24T00:00:00.000000000
2007-05-25T00:00:00.000000000
2007-05-26T00:00:00.000000000
2007-05-28T00:00:00.000000000
2007-05-29T00:00:00.000000000
2007-05-30T00:00:00.000000000
2007-05-31T00:00:00.000000000
2007-06-01T00:00:00.000000000
2007-06-02T00:00:00.000000000
2007-06-04T00:00:00.000000000
2007-06-05T00:00:00.000000000
2007-06-06T00:00:00.000000000
2007-06-07T00:00:00.000000000
2007-06-08T00:00:00.000000000
2007-06-09T00:00:00.000000000
2007-06-11T00:00:00.000000000
2007-06-12T00:00:00.000000000
2007-06-13T00:00:00.000000000
2007-06-14T00:00:00.000000000
2007-06-15T00:00:00.000000000
2007-06-16T00:00:00.000000000
2007-06-18T00:00:00.000000000
2007-06-19T00:00:00.000000000
2007-06-20T00:00:00.000000000
2007-06-21T00:00:00.000000000
2007-06-22T00:00:00.000000000
2007-06-23T00:00:00.000000000
2007-06-25T00:00:00.000000000
2007-06-26T00:00:00.000000000
2007-06-27T00:00:00.000000000
2007-06-28T00:00:00.000000000
2007-06-29T00:00:00.000000000
2007-06-30T00:00:00.000000000
2007-07-02T00:00:00.000000000
2007-07-03T00:00:00.000000000
2007-07-04T00:00:00.000000000
2007-07-05T00:00:00.000000000
2007-07-06T00:00:00.000000000
2007-07-07T00:00:00.000000000
2007-07-09T00:00:00.000000000
2007-07-10T00:00:00.000000000
2007-07-11T00:00:00.000000000
2007-07-12T00:00:00.000000000
2007-07-13T00:00:00.000000000
2007-07-14T00:00:00.000000000
2007-07-16T00:00:00.000000000
2007-07-17T00:00:00.000000000
2007-07-18T00:00:00.000000000
2007-07-19T00:00:00.000000000
2007-07-20T00:00:00.000000000
2007-07-21T00:00:00.000000000
2007-07-23T00:00:00.000000000
2007-07-24T00:00:00.000000000
2007-07-25T00:00:00.000000000
2007-07-26T00:00:00.000000000
2007-07-27T00:00:00.000000000
2007-07-28T00:00:00.000000000
2007-07-30T00:00:00.000000000
2007-07-31T00:00:00.000000000
2007-08-01T00:00:00.000000000
2007-08-02T00:00:00.000000000
2007-08-03T00:00:00.000000000
2007-08-04T00:00:00.000000000
2007-08-06T00:00:00.000000000
2007-08-07T00:00:00.000000000
2007-08-08T00:00:00.000000000
2007-08-09T00:00:00.000000000
2007-08-10T00:00:00.000000000
2007-08-11T00:00:00.000000000
2007-08-13T00:00:00.000000000
2007-08-14T00:00:00.000000000
2007-08-15T00:00:00.000000000
2007-08-16T00:00:00.000000000
2007-08-18T00:00:00.000000000
2007-08-20T00:00:00.000000000
2007-08-21T00:00:00.000000000
2007-08-22T00:00:00.000000000
2007-08-23T00:00:00.000000000
2007-08-24T00:00:00.000000000
2007-08-25T00:00:00.000000000
2007-08-27T00:00:00.000000000
2007-08-28T00:00:00.000000000
2007-08-29T00:00:00.000000000
2007-08-30T00:00:00.000000000
2007-08-31T00:00:00.000000000
2007-09-01T00:00:00.000000000
2007-09-02T00:00:00.000000000
2007-09-03T00:00:00.000000000
2007-09-04T00:00:00.000000000
2007-09-05T00:00:00.000000000
2007-09-06T00:00:00.000000000
2007-09-07T00:00:00.000000000
2007-09-08T00:00:00.000000000
2007-09-10T00:00:00.000000000
2007-09-11T00:00:00.000000000
2007-09-12T00:00:00.000000000
2007-09-13T00:00:00.000000000
2007-09-14T00:00:00.000000000
2007-09-15T00:00:00.000000000
2007-09-17T00:00:00.000000000
2007-09-18T00:00:00.000000000
2007-09-19T00:00:00.000000000
2007-09-20T00:00:00.000000000
2007-09-21T00:00:00.000000000
2007-09-22T00:00:00.000000000
2007-09-24T00:00:00.000000000
2007-09-25T00:00:00.000000000
2007-09-26T00:00:00.000000000
2007-09-27T00:00:00.000000000
2007-09-28T00:00:00.000000000
2007-09-29T00:00:00.000000000
2007-09-30T00:00:00.000000000
2007-10-01T00:00:00.000000000
2007-10-02T00:00:00.000000000
2007-10-03T00:00:00.000000000
2007-10-06T00:00:00.000000000
2007-10-08T00:00:00.000000000
2007-10-09T00:00:00.000000000
2007-10-10T00:00:00.000000000
2007-10-11T00:00:00.000000000
2007-10-12T00:00:00.000000000
2007-10-13T00:00:00.000000000
2007-10-15T00:00:00.000000000
2007-10-16T00:00:00.000000000
2007-10-17T00:00:00.000000000
2007-10-18T00:00:00.000000000
2007-10-19T00:00:00.000000000
2007-10-20T00:00:00.000000000
2007-10-22T00:00:00.000000000
2007-10-23T00:00:00.000000000
2007-10-24T00:00:00.000000000
2007-10-25T00:00:00.000000000
2007-10-26T00:00:00.000000000
2007-10-27T00:00:00.000000000
2007-10-29T00:00:00.000000000
2007-10-30T00:00:00.000000000
2007-10-31T00:00:00.000000000
2007-11-01T00:00:00.000000000
2007-11-02T00:00:00.000000000
2007-11-03T00:00:00.000000000
2007-11-05T00:00:00.000000000
2007-11-06T00:00:00.000000000
2007-11-07T00:00:00.000000000
2007-11-08T00:00:00.000000000
2007-11-09T00:00:00.000000000
2007-11-10T00:00:00.000000000
2007-11-12T00:00:00.000000000
2007-11-13T00:00:00.000000000
2007-11-14T00:00:00.000000000
2007-11-15T00:00:00.000000000
2007-11-16T00:00:00.000000000
2007-11-17T00:00:00.000000000
2007-11-19T00:00:00.000000000
2007-11-20T00:00:00.000000000
2007-11-21T00:00:00.000000000
2007-11-22T00:00:00.000000000
2007-11-23T00:00:00.000000000
2007-11-24T00:00:00.000000000
2007-11-26T00:00:00.000000000
2007-11-27T00:00:00.000000000
2007-11-28T00:00:00.000000000
2007-11-29T00:00:00.000000000
2007-11-30T00:00:00.000000000
2007-12-01T00:00:00.000000000
2007-12-02T00:00:00.000000000
2007-12-03T00:00:00.000000000
2007-12-04T00:00:00.000000000
2007-12-05T00:00:00.000000000
2007-12-06T00:00:00.000000000
2007-12-07T00:00:00.000000000
2007-12-08T00:00:00.000000000
2007-12-10T00:00:00.000000000
2007-12-11T00:00:00.000000000
2007-12-12T00:00:00.000000000
2007-12-13T00:00:00.000000000
2007-12-14T00:00:00.000000000
2007-12-15T00:00:00.000000000
2007-12-17T00:00:00.000000000
2007-12-18T00:00:00.000000000
2007-12-19T00:00:00.000000000
2007-12-20T00:00:00.000000000
2007-12-21T00:00:00.000000000
2007-12-22T00:00:00.000000000
2007-12-24T00:00:00.000000000
2007-12-25T00:00:00.000000000
2007-12-26T00:00:00.000000000
2007-12-28T00:00:00.000000000
2007-12-29T00:00:00.000000000
2007-12-31T00:00:00.000000000
2008-01-01T00:00:00.000000000
2008-01-02T00:00:00.000000000
2008-01-04T00:00:00.000000000
2008-01-05T00:00:00.000000000
2008-01-07T00:00:00.000000000
2008-01-08T00:00:00.000000000
2008-01-09T00:00:00.000000000
2008-01-10T00:00:00.000000000
2008-01-11T00:00:00.000000000
2008-01-12T00:00:00.000000000
2008-01-14T00:00:00.000000000
2008-01-15T00:00:00.000000000
2008-01-16T00:00:00.000000000
2008-01-17T00:00:00.000000000
2008-01-18T00:00:00.000000000
2008-01-19T00:00:00.000000000
2008-01-21T00:00:00.000000000
2008-01-22T00:00:00.000000000
2008-01-23T00:00:00.000000000
2008-01-24T00:00:00.000000000
2008-01-25T00:00:00.000000000
2008-01-26T00:00:00.000000000
2008-01-29T00:00:00.000000000
2008-01-30T00:00:00.000000000
2008-01-31T00:00:00.000000000
2008-02-01T00:00:00.000000000
2008-02-02T00:00:00.000000000
2008-02-04T00:00:00.000000000
2008-02-05T00:00:00.000000000
2008-02-06T00:00:00.000000000
2008-02-07T00:00:00.000000000
2008-02-08T00:00:00.000000000
2008-02-09T00:00:00.000000000
2008-02-11T00:00:00.000000000
2008-02-12T00:00:00.000000000
2008-02-13T00:00:00.000000000
2008-02-14T00:00:00.000000000
2008-02-15T00:00:00.000000000
2008-02-16T00:00:00.000000000
2008-02-18T00:00:00.000000000
2008-02-19T00:00:00.000000000
2008-02-20T00:00:00.000000000
2008-02-21T00:00:00.000000000
2008-02-22T00:00:00.000000000
2008-02-23T00:00:00.000000000
2008-02-25T00:00:00.000000000
2008-02-26T00:00:00.000000000
2008-02-27T00:00:00.000000000
2008-02-28T00:00:00.000000000
2008-02-29T00:00:00.000000000
2008-03-01T00:00:00.000000000
2008-03-03T00:00:00.000000000
2008-03-04T00:00:00.000000000
2008-03-05T00:00:00.000000000
2008-03-06T00:00:00.000000000
2008-03-07T00:00:00.000000000
2008-03-08T00:00:00.000000000
2008-03-10T00:00:00.000000000
2008-03-11T00:00:00.000000000
2008-03-12T00:00:00.000000000
2008-03-13T00:00:00.000000000
2008-03-14T00:00:00.000000000
2008-03-15T00:00:00.000000000
2008-03-17T00:00:00.000000000
2008-03-18T00:00:00.000000000
2008-03-19T00:00:00.000000000
2008-03-20T00:00:00.000000000
2008-03-21T00:00:00.000000000
2008-03-22T00:00:00.000000000
2008-03-24T00:00:00.000000000
2008-03-25T00:00:00.000000000
2008-03-26T00:00:00.000000000
2008-03-28T00:00:00.000000000
2008-03-31T00:00:00.000000000
2008-04-14T00:00:00.000000000
2008-04-15T00:00:00.000000000
2008-04-16T00:00:00.000000000
2008-04-17T00:00:00.000000000
2008-04-18T00:00:00.000000000
2008-04-21T00:00:00.000000000
2008-04-22T00:00:00.000000000
2008-04-23T00:00:00.000000000
2008-04-24T00:00:00.000000000
2008-04-25T00:00:00.000000000
2008-04-26T00:00:00.000000000
2008-04-28T00:00:00.000000000
2008-04-29T00:00:00.000000000
2008-04-30T00:00:00.000000000
2008-05-01T00:00:00.000000000
2008-05-05T00:00:00.000000000
2008-05-06T00:00:00.000000000
2008-05-07T00:00:00.000000000
2008-05-08T00:00:00.000000000
2008-05-09T00:00:00.000000000
2008-05-12T00:00:00.000000000
2008-05-13T00:00:00.000000000
2008-05-14T00:00:00.000000000
2008-05-15T00:00:00.000000000
2008-05-16T00:00:00.000000000
2008-05-19T00:00:00.000000000
2008-05-20T00:00:00.000000000
2008-05-21T00:00:00.000000000
2008-05-22T00:00:00.000000000
2008-05-23T00:00:00.000000000
2008-05-26T00:00:00.000000000
2008-05-27T00:00:00.000000000
2008-05-28T00:00:00.000000000
2008-05-29T00:00:00.000000000
2008-05-30T00:00:00.000000000
2008-05-31T00:00:00.000000000
2008-06-01T00:00:00.000000000
2008-06-02T00:00:00.000000000
2008-06-03T00:00:00.000000000
2008-06-04T00:00:00.000000000
2008-06-05T00:00:00.000000000
2008-06-06T00:00:00.000000000
2008-06-09T00:00:00.000000000
2008-06-10T00:00:00.000000000
2008-06-11T00:00:00.000000000
2008-06-12T00:00:00.000000000
2008-06-13T00:00:00.000000000
2008-06-14T00:00:00.000000000
2008-06-16T00:00:00.000000000
2008-06-17T00:00:00.000000000
2008-06-18T00:00:00.000000000
2008-06-19T00:00:00.000000000
2008-06-20T00:00:00.000000000
2008-06-21T00:00:00.000000000
2008-06-23T00:00:00.000000000
2008-06-24T00:00:00.000000000
2008-06-25T00:00:00.000000000
2008-06-26T00:00:00.000000000
2008-06-27T00:00:00.000000000
2008-06-28T00:00:00.000000000
2008-06-30T00:00:00.000000000
2008-07-01T00:00:00.000000000

<ipython-input-16-1865fb1634fd>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trset['wow']=lst
<ipython-input-16-1865fb1634fd>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trset['Day']=trset['Application_Receipt_Date'].map(lambda x : x.weekday())

0.81344217174162

In [17]:
tstset=dataset[dataset['isTrainDataSet'] == 0]
gp= tstset[['ID','Application_Receipt_Date','Business_Sourced']].groupby(tstset.Application_Receipt_Date)
ct=gp['ID'].count()
lst=[]
for date in tstset['Application_Receipt_Date'].unique():
    c=ct[date]
    v=int(math.ceil(c*0.45))
    for i in range(v):
        lst.append(1)
    for i in range(c-v):
        lst.append(0)
    print (date)
tstset['wow']=lst
dataset = trset.append(tstset)
 
dataset['Day']=dataset['Application_Receipt_Date'].map(lambda x : x.weekday())

2008-07-02T00:00:00.000000000
2008-07-03T00:00:00.000000000
2008-07-04T00:00:00.000000000
2008-07-07T00:00:00.000000000
2008-07-08T00:00:00.000000000
2008-07-09T00:00:00.000000000
2008-07-10T00:00:00.000000000
2008-07-11T00:00:00.000000000
2008-07-14T00:00:00.000000000
2008-07-15T00:00:00.000000000
2008-07-16T00:00:00.000000000
2008-07-17T00:00:00.000000000
2008-07-18T00:00:00.000000000
2008-07-21T00:00:00.000000000
2008-07-22T00:00:00.000000000
2008-07-23T00:00:00.000000000
2008-07-24T00:00:00.000000000
2008-07-25T00:00:00.000000000
2008-07-26T00:00:00.000000000
2008-07-28T00:00:00.000000000
2008-07-29T00:00:00.000000000
2008-07-30T00:00:00.000000000
2008-07-31T00:00:00.000000000
2008-08-01T00:00:00.000000000
2008-08-04T00:00:00.000000000
2008-08-05T00:00:00.000000000
2008-08-06T00:00:00.000000000
2008-08-07T00:00:00.000000000
2008-08-08T00:00:00.000000000
2008-08-11T00:00:00.000000000
2008-08-12T00:00:00.000000000
2008-08-13T00:00:00.000000000
2008-08-14T00:00:00.000000000
2008-08-15T00:00:00.000000000
2008-08-18T00:00:00.000000000
2008-08-19T00:00:00.000000000
2008-08-20T00:00:00.000000000
2008-08-21T00:00:00.000000000
2008-08-22T00:00:00.000000000
2008-08-23T00:00:00.000000000
2008-08-25T00:00:00.000000000
2008-08-26T00:00:00.000000000
2008-08-27T00:00:00.000000000
2008-08-28T00:00:00.000000000
2008-08-29T00:00:00.000000000
2008-08-30T00:00:00.000000000
2008-08-31T00:00:00.000000000
2008-09-01T00:00:00.000000000
2008-09-02T00:00:00.000000000
2008-09-03T00:00:00.000000000
2008-09-04T00:00:00.000000000
2008-09-05T00:00:00.000000000
2008-09-08T00:00:00.000000000
2008-09-09T00:00:00.000000000
2008-09-10T00:00:00.000000000
2008-09-11T00:00:00.000000000
2008-09-12T00:00:00.000000000
2008-09-13T00:00:00.000000000
2008-09-15T00:00:00.000000000
2008-09-16T00:00:00.000000000
2008-09-17T00:00:00.000000000
2008-09-18T00:00:00.000000000
2008-09-19T00:00:00.000000000
2008-09-20T00:00:00.000000000
2008-09-22T00:00:00.000000000
2008-09-23T00:00:00.000000000
2008-09-24T00:00:00.000000000
2008-09-25T00:00:00.000000000
2008-09-26T00:00:00.000000000
2008-09-27T00:00:00.000000000
2008-09-29T00:00:00.000000000
2008-09-30T00:00:00.000000000
2008-10-01T00:00:00.000000000
2008-10-06T00:00:00.000000000
2008-10-07T00:00:00.000000000
2008-10-08T00:00:00.000000000
2008-10-09T00:00:00.000000000
2008-10-10T00:00:00.000000000
2008-10-13T00:00:00.000000000
2008-10-14T00:00:00.000000000
2008-10-15T00:00:00.000000000
2008-10-16T00:00:00.000000000
2008-10-17T00:00:00.000000000
2008-10-18T00:00:00.000000000
2008-10-20T00:00:00.000000000
2008-10-21T00:00:00.000000000
2008-10-22T00:00:00.000000000
2008-10-24T00:00:00.000000000
2008-10-27T00:00:00.000000000
2008-10-28T00:00:00.000000000
2008-10-29T00:00:00.000000000
2008-10-30T00:00:00.000000000
2008-10-31T00:00:00.000000000
2008-11-01T00:00:00.000000000
2008-11-03T00:00:00.000000000
2008-11-04T00:00:00.000000000
2008-11-05T00:00:00.000000000
2008-11-06T00:00:00.000000000
2008-11-07T00:00:00.000000000
2008-11-08T00:00:00.000000000
2008-11-10T00:00:00.000000000
2008-11-11T00:00:00.000000000
2008-11-13T00:00:00.000000000
2008-11-14T00:00:00.000000000
2008-11-17T00:00:00.000000000
2008-11-18T00:00:00.000000000
2008-11-19T00:00:00.000000000
2008-11-20T00:00:00.000000000
2008-11-21T00:00:00.000000000
2008-11-24T00:00:00.000000000
2008-11-25T00:00:00.000000000
2008-11-26T00:00:00.000000000
2008-11-27T00:00:00.000000000
2008-11-28T00:00:00.000000000
2008-11-29T00:00:00.000000000
2008-11-30T00:00:00.000000000
2008-12-01T00:00:00.000000000
2008-12-02T00:00:00.000000000
2008-12-03T00:00:00.000000000
2008-12-04T00:00:00.000000000
2008-12-05T00:00:00.000000000
2008-12-06T00:00:00.000000000
2008-12-08T00:00:00.000000000
2008-12-09T00:00:00.000000000
2008-12-10T00:00:00.000000000
2008-12-11T00:00:00.000000000
2008-12-12T00:00:00.000000000
2008-12-13T00:00:00.000000000
2008-12-15T00:00:00.000000000
2008-12-16T00:00:00.000000000
2008-12-17T00:00:00.000000000
2008-12-18T00:00:00.000000000
2008-12-19T00:00:00.000000000
2008-12-20T00:00:00.000000000
2008-12-22T00:00:00.000000000
2008-12-23T00:00:00.000000000
2008-12-24T00:00:00.000000000
2008-12-25T00:00:00.000000000
2008-12-27T00:00:00.000000000
2008-12-29T00:00:00.000000000
2008-12-30T00:00:00.000000000
2008-12-31T00:00:00.000000000
2009-01-01T00:00:00.000000000

<ipython-input-17-a7e3550bad19>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tstset['wow']=lst

In [18]:
columnsToBeDropped = ['Applicant_City_PIN','Applicant_BirthDate','Application_Receipt_Date','Manager_Business2','Manager_DOJ',
                      'Manager_DoB','Manager_Num_Products']
dataset = dataset.drop(columnsToBeDropped,1)
 
for colname in  dataset.columns:
    print (colname,dataset[colname].unique()," no:",len(dataset[colname].unique()))
     
dataset.Applicant_Occupation.fillna("Others",inplace=True)
dataset.Applicant_Occupation.unique()
dataset.Applicant_Marital_Status.fillna("applicantMaritalStatusMissing",inplace=True)
dataset.Applicant_Marital_Status.unique()
dataset.Applicant_Gender.fillna("applicantGenderMissing",inplace=True)
dataset.Applicant_Gender.unique()
dataset.Applicant_Qualification.fillna("Others",inplace=True)
dataset.Applicant_Qualification.unique()
dataset.loc[(dataset['Applicant_Qualification']=='Associate/Fellow of Institute of Company Secretories of India' )
        | (dataset['Applicant_Qualification']==
        'Associate/Fellow of Institute of Institute of Costs and Works Accountants of India'),'Applicant_Qualification'] ='Associate / Fellow of Institute of Chartered Accountans of India'
 
dataset.Manager_Gender.fillna("Manager_GenderMissing",inplace=True)
dataset.Manager_Status.fillna("Manager_StatusMissing",inplace=True)
columnsToBe1HotEncoded = ['Applicant_Gender','Applicant_Marital_Status','Applicant_Occupation', 'Applicant_Qualification' ,
                         'Manager_Gender','Manager_Status']
d = pd.get_dummies(dataset[columnsToBe1HotEncoded])
df_new = pd.concat([dataset, d], axis=1)
 
df_new= df_new.drop(columnsToBe1HotEncoded,1)
 
df_new.columns
df_new=df_new.fillna(-9999)

ID ['FIN1000001' 'FIN1000002' 'FIN1000003' ... 'FIN1014570' 'FIN1014571'
 'FIN1014572']  no: 14572
Office_PIN [842001 800001 814112 209625 211001 520010 533101 274001 202001 284001
 834001 474008 121002 492001 452003 802301 282001 751009 781005 444601
 851101 560001 803101 201010 841428 124001 826001 500016 390020 824101
 171006 575003 700016 600017 271201 226001 400075 277001 122002 125001
 530003 230001 208001 221010 273001 233001 843302 224122 848101 812001
 285001 380015 423203 753012 713216 713303 476001 680001 400705 160017
 620018 841226 201001 416001 636004 444001 323001 110005 414003 143001
 334002 250001 180012 422005 400601 802101 395001 281001 440010 305001
 695014 462003 400092 110034 313001 625016 224001 360001 517503 411006
 141001 431001 691008 144001 686004 641018 302001 201301 110019]  no: 99
Applicant_Gender ['M' 'F' nan]  no: 3
Applicant_Marital_Status ['M' 'S' nan 'W' 'D']  no: 5
Applicant_Occupation ['Others' 'Business' 'Salaried' 'Self Employed' 'Student' nan]  no: 6
Applicant_Qualification ['Graduate' 'Class XII' 'Class X' 'Masters of Business Administration' nan
 'Associate/Fellow of Institute of Company Secretories of India'
 'Associate / Fellow of Institute of Chartered Accountans of India'
 'Others' 'Associate/Fellow of Insurance Institute of India'
 'Associate/Fellow of Acturial Society of India'
 'Certified Associateship of Indian Institute of Bankers'
 'Professional Qualification in Marketing'
 'Associate/Fellow of Institute of Institute of Costs and Works Accountants of India']  no: 13
Manager_Joining_Designation [ 1.  2. nan  3.  7.  5.  4.  6.]  no: 8
Manager_Current_Designation [ 2.  1.  3. nan  4.  5.]  no: 6
Manager_Grade [ 3.  2.  4. nan  5.  6.  1.  9.  7.  8. 10.]  no: 11
Manager_Status ['Confirmation' nan 'Probation']  no: 3
Manager_Gender ['M' 'F' nan]  no: 3
Manager_Num_Application [ 2.  0.  5.  1.  3. nan  4. 10.  9.  6. 13.  8.  7. 11. 12. 14. 16. 22.
 17.]  no: 19
Manager_Num_Coded [ 1.  0.  4.  3.  2. nan  5.  7.  6.  8.  9. 10.]  no: 12
Manager_Business [335249. 357184. 318356. ...  30504. 140141.  35919.]  no: 5315
Manager_Num_Products2 [ 28.  24.  22.  17.  27.   9.  39.  10.  14.  13.  19.   7.  20.   1.
  30.  nan  15.  18.  16.  23.  21.  11.   0.  51.  74.  12.  35.  36.
   6.   2.   4.   5.   8.   3.  33.  25.  59.  66.  32.  29.  26.  31.
  45.  46.  42.  38.  44.  41.  34. 101.  37.  60.  43.  48.  47.  61.
  53.  40.]  no: 58
Business_Sourced [ 0.  1. nan]  no: 3
isTrainDataSet [1 0]  no: 2
applicantAge [35.34794521 24.17534247 41.2739726  ... 59.12328767 31.64109589
 23.65753425]  no: 8270
managerExperience [1.43013699 0.88767123 3.65479452 ... 2.84383562 5.43561644 2.65479452]  no: 2144
managerAge [29.17808219 38.14520548 28.69041096 ... 41.49041096 27.15890411
 26.11232877]  no: 6327
Manager_Promotion [ 1.  0.  2. nan  3.  4. -2. -1.]  no: 8
PinDifference [ 2119.  2110. 44100. ... 35017.  3330. 34106.]  no: 2044
wow [1 0]  no: 2
Day [0 1 2 3 4 5 6]  no: 7

In [19]:
'''Split'''
trainSet=df_new[df_new.isTrainDataSet==1]
trainSet=trainSet.drop(['isTrainDataSet','ID'],1)
Xo=trainSet.drop(['Business_Sourced'],1)
Xo=Xo[Xo['wow']==1]
Xi=Xo[Xo['wow']==0]
y=trainSet['Business_Sourced'][trainSet['wow']==1]
yi=trainSet['Business_Sourced'][trainSet['wow']==0]
 
trainSet['Business_Sourced'].describe()
 
testSet=df_new[df_new.isTrainDataSet!=1]
#testSet
#XTesty=testSet.drop(['Business_Sourced'],1)
#XTesty
testSet=testSet.drop(['isTrainDataSet','ID'],1)
XTest=testSet.drop(['Business_Sourced'],1)
Xtesty=XTest
#XTesto=XTest[XTest['wow']==1]
#XTesti=XTest[XTest['wow']==0]

In [20]:
'''First model'''
clf=GradientBoostingClassifier(loss='deviance',n_estimators=300,learning_rate=0.4,max_depth=10 ,max_features='auto',verbose=1,min_samples_split=2,min_samples_leaf=1)
clf = RandomForestClassifier(n_estimators=100, max_depth=None,min_samples_split=1, random_state=0)
clf = ExtraTreesClassifier(n_estimators=100, max_depth=10,min_samples_split=2, random_state=0)
model=clf.fit(Xo,y)
pred=model.predict_proba(XTest)
pred.shape[0]
#XTest=testSet[testSet['wow']==1]
#pred.shape[0],XTest.shape[0]
#subm=pd.DataFrame(df_new[df_new.isTrainDataSet!=1]['ID'],columns=['ID'])

#Xtesty['Business_Sourced']=pred
#XTesty['Business_Sourced']
#subm.shape[0]
final_data=pd.DataFrame()
final_data['ID']=test['ID']
final_data['Business_Sourced']=pred
final_data
#predo=pd.DataFrame(pred,index=XTest.index)
#predo
#predi=pd.DataFrame(np.zeros(shape=(XTesti.shape[0])),index=XTesti.index)
#predi
#finalPred=predo.append(predi)
#finalPred=finalPred.sort_index()
#finalPred
#subm=pd.DataFrame(df_new[df_new.isTrainDataSet!=1]['ID'],columns=['ID'])
#subm['Business_Sourced']=finalPred
##X=["ID", "Business_Sourced"]

##XTesty.to_csv('FinalSmartRecruitETonWow100estmaxdepth10.csv',index=False,columns = X)

ValueError: Wrong number of items passed 2, placement implies 1

In [ ]:
###############################################################################Grid Search and Stacking################################################################################################
'''GRID
max_depth = np.arange(1, 100, 10)
n_estimators = np.arange(10, 40, 5)
param_grid = dict(max_depth=max_depth)

cv = sklearn.model_selection.StratifiedShuffleSplit(y, 3, test_size=0.5, random_state=0)

grid = sklearn.model_selection.GridSearchCV(clf, param_grid=param_grid, cv=cv,scoring='roc_auc',verbose=5)

choose=grid.fit(Xo,y)
bestParam=choose.best_params_
bestScore=choose.best_score_ '''

In [ ]:
'''Stage 1 Prob
X=Xo.to_numpy()
clf = ExtraTreesClassifier(n_estimators=200, max_depth=None,min_samples_split=1, random_state=0)
clf =GradientBoostingClassifier(loss='deviance',n_estimators=200,learning_rate=0.4,max_depth=8 ,max_features='auto',verbose=1,min_samples_split=2,min_samples_leaf=1)
clf = RandomForestClassifier(n_estimators=200, max_depth=None,min_samples_split=1, random_state=0)
cv = StratifiedShuffleSplit(y, 4, test_size=0.5, random_state=0)
predDF=pd.DataFrame()
i=0
pred = np.zeros(shape=(X.shape[0]))
for train_index, test_index in cv.split(X,y):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_A, X_B = X[train_index], X[test_index]
    y_A, y_B = y[train_index], y[test_index]
    modelOnB=clf.fit(X_B,y_B)
    PredOnA=modelOnB.predict_proba(X_A)
    modelOnA=clf.fit(X_A,y_A)
    PredOnB=modelOnA.predict_proba(X_B)
    pred=np.array()
    pred[train_index]=PredOnA
    pred[test_index]=PredOnB
    colname='col'+str(i)
    print (pred)
    print (colname)
    predDF[colname]=pred
    i=i+1

fprob=predDF.mean(axis=1)  


model=clf.fit(Xo,y)
Testfprob=model.predict(XTest)
XTest['1ststage']=Testfprob
Xo['1ststage']=fprob

clf2 = RandomForestClassifier(n_estimators=200, max_depth=None,min_samples_split=1, random_state=0)
clf =GradientBoostingClassifier(loss='deviance',n_estimators=200,learning_rate=0.4,max_depth=8 ,max_features='auto',verbose=1,min_samples_split=2,min_samples_leaf=1)
clf2 = ExtraTreesClassifier(n_estimators=200, max_depth=None,min_samples_split=1, random_state=0)
model=clf2.fit(Xo,y)
pred=model.predict_proba(XTest)
subm=pd.DataFrame(df_new[df_new.isTrainDataSet!=1]['ID'],columns=['ID'])
subm['Business_Sourced']=pred
subm.to_csv('ETmaxdepthnoneonGBmaxdep8.csv',index=False)
 
 
"""""""""""" '''